/*
카테고리 버튼 css
*/
.category ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.category li {
    list-style: none;
    width: 80px;
    height: 60px;
    padding: 5px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category li+li {
    border-top: 1px solid #ccc;
    margin-top: 5px;
}

.category .ico_comm {
    display: block;
    margin: 0 auto 2px;
    width: 22px;
    height: 26px;
}

.category .ico_cctv {
    width: 50px;
    background-position: -10px 0;
    background-image: url('../css/assets/CCTV.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.category .ico_police {
    width: 50px;
    background-position: -10px 0;
    background-image: url('../css/assets/Police.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.category .menu_selected {
    background: #FF5F4A;
    color: #fff;
    border-left: 1px solid #915B2F;
    border-right: 1px solid #915B2F;
    margin: 0 -1px;
}

.category .menu_no_selected {
    background: #fff;
    color: #000;
    /* border-left: 1px solid #915B2F;
    border-right: 1px solid #915B2F; */
    margin: 0 -1px;
}