/*
경찰 리스트 css
*/

#policeListWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: white;
    display: none;
    overflow-y: auto;
    max-height: 20vh; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);

    -webkit-overflow-scrolling: touch;
}

#policeUl {
    margin: 0;
    padding: 0;
    list-style: none;
}


.police-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0 20px 30px;
}


.police-item div{
    display: flex;
    flex-direction: column;
}

.police-item img {
    width: 32px;
    height: 32px;
}

.police-item p {
    margin: 0;
    font-size: 14px;
}

.police-item .police-name{
    font-weight: 600;
}